<div class="header">
    <div class="container-fluid">
        <div class="tinder-sec">
            <div class="row">
                <div class="go-back">
                    <a routerLink="/"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span>Daily recomendations</span></a>
                </div>
                <div class="col-md-12 d-flex justify-content-center ">
                    <div class="card">
                        <div [@cardAnimator]="animationState" (@cardAnimator.done)="resetAnimationState($event)"
                        (swipeleft)='startAnimation("swipeleft")' (swiperight)='startAnimation("swiperight")'>
                        <div class="figure">
                            <img [src]="users[index].picture" title="tphoto" alt="Tinder Photo" />
                        </div>
                        <div class="card-body">
                            <h3>{{users[index].name}}</h3>
                            <p>{{users[index].gender}}</p>
                            <hr>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="short">
                                        <i class="fa fa-star-o" aria-hidden="true"></i> <span>Short list</span> 
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="like">Like her?</div>
                                        </div>
                                        <div class="col-md-4 p-0">
                                            <div class="ticons">
                                                <div (click)='cardAnimation("swipeleft")'><i class="fa fa-times wite"
                                                        aria-hidden="true"></i>
                                                </div>
                                                <div (click)='cardAnimation("swiperight")'><i class="fa fa-heart bg-yel"
                                                        aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- <div class="tcontrols">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="like-content">
                            <div class="text">Like her?</div>
                            <div class="ticons">
                                <div (click)='cardAnimation("swipeleft")'><i class="fa fa-times wite"
                                        aria-hidden="true"></i>
                                </div>
                                <div (click)='cardAnimation("swiperight")'><i class="fa fa-heart bg-yel"
                                        aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>



<!-- <div class="tbg">

    <div class="tbgwrap"> -->
        <!-- <app-card [parentSubject]="parentSubject"></app-card> -->
        <!-- <div class="tphoto" [@cardAnimator]="animationState" (@cardAnimator.done)="resetAnimationState($event)"
            (swipeleft)='startAnimation("swipeleft")' (swiperight)='startAnimation("swiperight")'>
            <img [src]="users[index].picture" height="350px" title="tphoto" alt="Tinder Photo" />
            <div class="tcontent">
                <h3>{{users[index].name}}</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
        </div> -->
        <!-- <div class="" style="margin-left: 2px;"> -->
            <!-- <div class="tcontrols">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="like-content">
                            <div class="text">Like her?</div>
                            <div class="ticons">
                                <div (click)='cardAnimation("swipeleft")'><i class="fa fa-times wite"
                                        aria-hidden="true"></i>
                                </div>
                                <div (click)='cardAnimation("swiperight")'><i class="fa fa-heart bg-yel"
                                        aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        <!-- </div>
    </div>
</div> -->